header{
    display: flex;
    background-color: #000;
    color: #7c7c7c;
    flex-wrap: wrap;

}
.iconspot{
    padding: 25px;
}

.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 980px;
    flex-wrap: wrap;
}

.h3{
    margin-right: 50px;
}

.favorits{
    color: #7c7c7c;

}

.title{
    padding: 25px;
    color: #7c7c7c;
    text-shadow: 5px 5px 5px  black;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 60px;
}

.imgcard{
    display: flex;
    flex-wrap: wrap;
    width: 170px;
    margin-top: 20px;
    border: 1px solid #000;
    margin-left: 23px;
    border-radius: 12px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    background-color: #b2f2bb;
    width: 220px;
    size-adjust: auto;
    text-align: center;
    border-radius: 25px;
    font-size: 14px;
    transition: 250ms;
    border: 2px solid #000000;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.card:hover{
    transform:translateY(-25px);
    box-shadow: rgba(0, 0, 0, 0.493) 0px 19px 38px, rgba(0, 0, 0, 0.349) 0px 15px 12px;
}

.desc{
    margin-top: 20px;
}

body{
    background-color: #292929;
}